{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "printWidth": 120
      }
    },
    {
      "files": "*.yml",
      "options": {
        "parser": "yaml",
        "tabWidth": 2
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "parser": "yaml",
        "tabWidth": 2
      }
    }
  ],
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}